.searchBar {
  position: relative;
  width: 100%;
  min-width: 250px;
  padding: 0 20px;
  background-color: #ffffff;
  border: 1px solid #ddd;      
  border-radius: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08); 
  transition: all 0.3s ease;    
}


.searchBar:focus-within {
  border-color: #4cafef;       
  box-shadow: 0 0 8px rgba(76, 175, 239, 0.3);
}


.searchBar-content {
  display: flex;
  align-items: center;
}

.searchBar-content input {
  padding: 10px 0px;
  background-color: transparent;
  font-size: 14px;
  width: 100%;
}

.searchBar-content input:focus {
  outline: none;
}

.searchBar-content__search-btn,
.searchBar-content__clear-btn {
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 16px;
  color: #888;
}

.searchBar-content__search-btn {
  right: 50px;
}
.searchBar-content__clear-btn { 
  transform: translateY(-50%); 
  top: 50%;
  position: absolute;
  right: 10px;
  font-size: 50px;
}

.searchBar-content__search-btn:hover,
.searchBar-content__clear-btn:hover {
  color: #333;
}