.btn-guardar {
  background-color: #28a745;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-guardar:hover { background-color: #218838; }

.btn-editar {
  background-color: #4cafef;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-editar:hover { background-color: #2196f3; }

.btn-calificar {
  background-color: #ff9800;
  color: white;
  padding: 8px 14px;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}
.btn-calificar:hover { background-color: #e68900; }
