.container {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.section__filters {
  display: flex;
  gap: 30px;
  justify-content: space-between;
  align-items: end;
}


.filters__selects {
  display: flex;
  gap: 12px;
  align-items: flex-end;
}