.studentTable {
  width: 100%;
}

.studentTable__table {
  width: 100%;
  border-collapse: collapse;
}

.studentTable__th{
  padding: 10px 12px;
  border-bottom: 1px solid #eee;
  text-align: left;
}

.studentTable__th {
  background-color: #f0f0f0;
  font-weight: bold;
}
